<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2018 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        IBM Corporation - initial API and implementation
 -->

<plugin>
 <extension
        point="org.eclipse.ui.navigator.navigatorContent">
     <actionProvider
           class="org.polarsys.time4sys.editor.internal.Time4SysCommonActionProvider"
           id="org.polarsys.time4sys.editor.internal.CommonActionProvider1">
        <enablement>
           <or>
              <instanceof
                    value="org.polarsys.time4sys.marte.nfp.coreelements.ModelElement">
              </instanceof>
              <instanceof
                    value="org.polarsys.time4sys.model.time4sys.Project">
              </instanceof>
           </or>
        </enablement>
     </actionProvider>
  </extension>
  <extension
        point="org.eclipse.ui.navigator.viewer">
     <viewerActionBinding
           viewerId="org.eclipse.sirius.ui.tools.views.model.explorer">
        <includes>
           <actionExtension
                 pattern="org.polarsys.time4sys.editor.*">
           </actionExtension>
        </includes>
     </viewerActionBinding>
     <viewerContentBinding
           viewerId="org.eclipse.sirius.ui.tools.views.model.explorer">
        <includes>
           <contentExtension
                 pattern="org.polarsys.time4sys.editor.*">
           </contentExtension>
           <contentExtension
                 pattern="org.polarsys.time4sys.navigator.commonFilter.*">
           </contentExtension>
        </includes>
     </viewerContentBinding>
     <dragAssistant
            class="org.polarsys.time4sys.editor.internal.Time4SysCommonDragAdapterAssistant"
            viewerId="org.eclipse.sirius.ui.tools.views.model.explorer">
      </dragAssistant>
  </extension>
  <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            appearsBefore="org.eclipse.sirius.ui.resource.content.session"
            contentProvider="org.polarsys.time4sys.editor.internal.DummyContentProvider"
            id="org.polarsys.time4sys.editor.DndProvider"
            labelProvider="org.polarsys.time4sys.editor.internal.DummyLabelProvider"
            name="Time4Sys Designer Drag n Drop Support"
            priority="higher"
            providesSaveables="false">
             <enablement>
               <instanceof
                     value="org.polarsys.time4sys.marte.nfp.coreelements.ModelElement">
               </instanceof>
            </enablement>
         <dropAssistant
               class="org.polarsys.time4sys.editor.internal.Time4SysCommonDropAdapterAssistant"
               id="org.polarsys.time4sys.editor.DropAssistant">
            <possibleDropTargets>
               <instanceof
                     value="org.polarsys.time4sys.marte.nfp.coreelements.ModelElement">
               </instanceof>
            </possibleDropTargets>
         </dropAssistant>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            appearsBefore="org.eclipse.sirius.ui.resource.content.session"
            contentProvider="org.eclipse.sirius.ui.tools.internal.views.common.navigator.SiriusCommonContentProvider"
            id="org.polarsys.time4sys.editor.SortProvider"
            labelProvider="org.eclipse.sirius.ui.tools.internal.views.common.navigator.SiriusCommonLabelProvider"
            name="Time4Sys Designer Sort Support"
            priority="higher"
            providesSaveables="false">
         <commonSorter
               class="org.polarsys.time4sys.editor.internal.Time4SysDesignerViewerSorter"
               id="org.polarsys.time4sys.editor.CommonSorter">
            <parentExpression>
               <instanceof
                     value="org.polarsys.time4sys.marte.nfp.coreelements.ModelElement">
               </instanceof>
            </parentExpression>
         </commonSorter>
         <triggerPoints>
            <instanceof
                  value="org.polarsys.time4sys.marte.nfp.coreelements.ModelElement">
            </instanceof></triggerPoints>
      </navigatorContent>
   </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           categoryId="org.eclipse.ui.category.edit"
           id="org.polarsys.time4sys.navigator.commands.copy"
           name="Copy">
     </command>
     <command
           categoryId="org.eclipse.ui.category.edit"
           id="org.polarsys.time4sys.navigator.commands.paste"
           name="Paste">
     </command>
     <command
           categoryId="org.eclipse.ui.category.edit"
           id="org.polarsys.time4sys.navigator.commands.cut"
           name="Cut">
     </command>
     <command
           categoryId="org.eclipse.ui.category.edit"
           id="org.polarsys.time4sys.navigator.commands.delete"
           name="Delete">
     </command>
     <command
           id="org.polarsys.time4sys.navigator.commands.sort"
           name="Sort Model Elements">
        <state
              class="org.eclipse.ui.handlers.RegistryToggleState:true"
              id="org.eclipse.ui.commands.toggleState">
        </state>
     </command>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           allPopups="false"
           locationURI="popup:org.eclipse.sirius.ui.tools.views.model.explorer#PopupMenu">
        <command
              commandId="org.polarsys.time4sys.navigator.commands.cut"
              icon="IMG_TOOL_CUT"
              id="popup:org.eclipse.sirius.ui.tools.views.model.explorer#PopupMenu.cut"
              label="Cut"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <iterate
                    ifEmpty="false"
                    operator="and">
                 <instanceof
                       value="org.polarsys.time4sys.marte.nfp.coreelements.ModelElement">
                 </instanceof>
              </iterate>
           </visibleWhen>
        </command>
        <command
              commandId="org.polarsys.time4sys.navigator.commands.copy"
              icon="IMG_TOOL_COPY"
              id="popup:org.eclipse.sirius.ui.tools.views.model.explorer#PopupMenu.copy"
              label="Copy"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <iterate
                    ifEmpty="false"
                    operator="and">
                 <instanceof
                       value="org.polarsys.time4sys.marte.nfp.coreelements.ModelElement">
                 </instanceof>
              </iterate>
           </visibleWhen>
        </command>
        <command
              commandId="org.polarsys.time4sys.navigator.commands.paste"
              icon="IMG_TOOL_PASTE"
              id="popup:org.eclipse.sirius.ui.tools.views.model.explorer#PopupMenu.paste"
              label="Paste"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <and>
                 <count
                       value="1">
                 </count>
                 <iterate
                       operator="and">
                    <instanceof
                          value="org.polarsys.time4sys.marte.nfp.coreelements.ModelElement">
                    </instanceof>
                 </iterate>
              </and>
           </visibleWhen>
        </command>
        <command
              commandId="org.polarsys.time4sys.navigator.commands.delete"
              icon="icons/deleteModel.gif"
              id="popup:org.eclipse.sirius.ui.tools.views.model.explorer#PopupMenu.delete"
              label="Delete"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <iterate
                    ifEmpty="false"
                    operator="and">
                 <instanceof
                       value="org.polarsys.time4sys.marte.nfp.coreelements.ModelElement">
                 </instanceof>
              </iterate>
           </visibleWhen>
        </command>
     </menuContribution>
     <menuContribution
           allPopups="false"
           locationURI="toolbar:org.eclipse.sirius.ui.tools.views.model.explorer">
        <command
              commandId="org.polarsys.time4sys.navigator.commands.sort"
              icon="icons/alphab_sort_co.gif"
              label="Sort Model Elements"
              style="toggle">
        </command>
     </menuContribution>
  </extension>
  <extension
        point="org.eclipse.ui.bindings">
     <key
           commandId="org.polarsys.time4sys.navigator.commands.copy"
           contextId="org.eclipse.ui.contexts.window"
           schemeId="org.polarsys.time4sys.navigator.scheme"
           sequence="M1+C">
     </key>
     <key
           commandId="org.polarsys.time4sys.navigator.commands.paste"
           contextId="org.eclipse.ui.contexts.window"
           schemeId="org.polarsys.time4sys.navigator.scheme"
           sequence="M1+V">
     </key>
     <key
           commandId="org.polarsys.time4sys.navigator.commands.cut"
           contextId="org.eclipse.ui.contexts.window"
           schemeId="org.polarsys.time4sys.navigator.scheme"
           sequence="M1+X">
     </key>
     <scheme
           id="org.polarsys.time4sys.navigator.scheme"
           name="navigator.scheme">
     </scheme>
  </extension>
  <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="org.polarsys.time4sys.editor.internal.CutCommandHandler"
           commandId="org.polarsys.time4sys.navigator.commands.cut">
     </handler>
     <handler
           class="org.polarsys.time4sys.editor.internal.CopyCommandHandler"
           commandId="org.polarsys.time4sys.navigator.commands.copy">
     </handler>
     <handler
           class="org.polarsys.time4sys.editor.internal.PasteCommandHandler"
           commandId="org.polarsys.time4sys.navigator.commands.paste">
     </handler>
     <handler
           class="org.polarsys.time4sys.editor.internal.DeleteHandler"
           commandId="org.polarsys.time4sys.navigator.commands.delete">
     </handler>
     <handler
           class="org.polarsys.time4sys.editor.internal.SortCommandHandler"
           commandId="org.polarsys.time4sys.navigator.commands.sort">
     </handler>
     <handler
           class="org.polarsys.time4sys.editor.internal.CopyCommandHandler"
           commandId="org.eclipse.ui.edit.copy">
        <activeWhen>
           <iterate
                 ifEmpty="false"
                 operator="and">
              <instanceof
                    value="org.polarsys.time4sys.marte.nfp.coreelements.ModelElement">
              </instanceof>
              <and>
                 <with
                       variable="activePartId">
                    <equals
                          value="org.eclipse.sirius.ui.tools.views.model.explorer">
                    </equals>
                 </with>
              </and>
           </iterate>
        </activeWhen>
        <enabledWhen>
           <iterate
                 ifEmpty="false"
                 operator="and">
              <instanceof
                    value="org.polarsys.time4sys.marte.nfp.coreelements.ModelElement">
              </instanceof>
           </iterate>
        </enabledWhen>
     </handler>
     <handler
           class="org.polarsys.time4sys.editor.internal.PasteCommandHandler"
           commandId="org.eclipse.ui.edit.paste">
        <activeWhen>
           <and>
              <count
                    value="1">
              </count>
              <iterate
                    operator="and">
                 <instanceof
                       value="org.polarsys.time4sys.marte.nfp.coreelements.ModelElement">
                 </instanceof>
                 <and>
                    <with
                          variable="activePartId">
                       <equals
                             value="org.eclipse.sirius.ui.tools.views.model.explorer">
                       </equals>
                    </with>
                 </and>
              </iterate>
           </and>
        </activeWhen>
        <enabledWhen>
           <and>
              <count
                    value="1">
              </count>
              <iterate
                    operator="and">
                 <instanceof
                       value="org.polarsys.time4sys.marte.nfp.coreelements.ModelElement">
                 </instanceof>
              </iterate>
           </and>
        </enabledWhen>
     </handler>
     <handler
           class="org.polarsys.time4sys.editor.internal.CutCommandHandler"
           commandId="org.eclipse.ui.edit.cut">
        <activeWhen>
           <iterate
                 ifEmpty="false"
                 operator="and">
              <instanceof
                    value="org.polarsys.time4sys.marte.nfp.coreelements.ModelElement">
              </instanceof>
              <and>
                 <with
                       variable="activePartId">
                    <equals
                          value="org.eclipse.sirius.ui.tools.views.model.explorer">
                    </equals>
                 </with>
              </and>
           </iterate>
        </activeWhen>
        <enabledWhen>
           <iterate
                 ifEmpty="false"
                 operator="and">
              <instanceof
                    value="org.polarsys.time4sys.marte.nfp.coreelements.ModelElement">
              </instanceof>
           </iterate>
        </enabledWhen>
     </handler>
     <handler
           class="org.polarsys.time4sys.editor.internal.DeleteHandler"
           commandId="org.eclipse.ui.edit.delete">
        <activeWhen>
           <iterate
                 ifEmpty="false"
                 operator="and">
              <instanceof
                    value="org.polarsys.time4sys.marte.nfp.coreelements.ModelElement">
              </instanceof>
              <and>
                 <with
                       variable="activePartId">
                    <equals
                          value="org.eclipse.sirius.ui.tools.views.model.explorer">
                    </equals>
                 </with>
              </and>
           </iterate>
        </activeWhen>
        <enabledWhen>
           <iterate
                 ifEmpty="false"
                 operator="and">
              <instanceof
                    value="org.polarsys.time4sys.marte.nfp.coreelements.ModelElement">
              </instanceof>
           </iterate>
        </enabledWhen>
     </handler>
  </extension>
</plugin>
