<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Time4Sys-Neon" sequenceNumber="127">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.junit" version="4.12.0.v201504281640"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20160221192158/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="fr.rtaw.pegaseplusplus.feature.feature.group" version="0.0.1.201709210931"/>
<repository location="http://eclipse.realtimeatwork.com"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sirius.specifier.ide.ui.aql.feature.group" version="5.1.0.201710261549"/>
<unit id="org.eclipse.eef.sdk.feature.source.feature.group" version="2.0.0.201705311515"/>
<unit id="org.eclipse.acceleo.query.source.feature.group" version="6.0.2.201708211328"/>
<unit id="org.eclipse.sirius.specifier.ide.ui.aql.source.feature.group" version="5.1.0.201710261549"/>
<unit id="org.eclipse.sirius.aql.feature.group" version="5.1.0.201710261549"/>
<unit id="org.eclipse.sirius.specifier.properties.feature.source.feature.group" version="5.1.0.201710261549"/>
<unit id="org.eclipse.sirius.specifier.source.feature.group" version="5.1.0.201710261549"/>
<unit id="org.eclipse.acceleo.query.feature.group" version="6.0.2.201708211328"/>
<unit id="org.eclipse.eef.ext.widgets.reference.feature.feature.group" version="2.0.0.201705311515"/>
<unit id="org.eclipse.sirius.runtime.aql.source.feature.group" version="5.1.0.201710261549"/>
<unit id="org.eclipse.sirius.specifier.feature.group" version="5.1.0.201710261549"/>
<unit id="org.eclipse.sirius.properties.feature.feature.group" version="5.1.0.201710261549"/>
<unit id="org.eclipse.sirius.properties.feature.source.feature.group" version="5.1.0.201710261549"/>
<unit id="org.eclipse.sirius.runtime.aql.feature.group" version="5.1.0.201710261549"/>
<unit id="org.eclipse.sirius.aql.source.feature.group" version="5.1.0.201710261549"/>
<unit id="org.eclipse.sirius.specifier.properties.feature.feature.group" version="5.1.0.201710261549"/>
<unit id="org.eclipse.sirius.interpreter.feature.feature.group" version="5.1.0.201710261549"/>
<unit id="org.eclipse.sirius.interpreter.feature.source.feature.group" version="5.1.0.201710261549"/>
<unit id="org.eclipse.eef.ext.widgets.reference.feature.source.feature.group" version="2.0.0.201705311515"/>
<unit id="org.eclipse.eef.sdk.feature.feature.group" version="2.0.0.201705311515"/>
<repository location="http://download.eclipse.org/sirius/updates/releases/5.1.0/neon/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.diffmerge.coevolution.sdk.feature.source.feature.group" version="0.9.0.201710271504"/>
<unit id="org.eclipse.emf.diffmerge.coevolution.sdk.feature.feature.group" version="0.9.0.201710271504"/>
<repository location="http://download.eclipse.org/diffmerge/releases/0.9.0/edm-coevolution-site/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.diffmerge.egit.feature.feature.group" version="0.9.0.201710271456"/>
<unit id="org.eclipse.emf.diffmerge.sirius.feature.feature.group" version="0.9.0.201710271456"/>
<unit id="org.eclipse.emf.diffmerge.feature.feature.group" version="0.9.0.201710271456"/>
<unit id="org.eclipse.emf.diffmerge.gmf.feature.feature.group" version="0.9.0.201710271456"/>
<unit id="org.eclipse.emf.diffmerge.svn.feature.feature.group" version="0.9.0.201710271456"/>
<unit id="org.eclipse.emf.diffmerge.sdk.feature.source.feature.group" version="0.9.0.201710271456"/>
<repository location="http://download.eclipse.org/diffmerge/releases/0.9.0/emf-diffmerge-site/"/>
</location>
<location path="${eclipse_home}" type="Profile"/>
</locations>
</target>
