<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="analysisTools" name="AnalysisTools" schema="schema/analysisTools.exsd"/>
   <extension-point id="analysisContexts" name="AnalysisContexts" schema="schema/analysisContexts.exsd"/>
   <extension
         point="org.eclipse.amalgam.explorer.activity.ui.pagesProvider">
      <Page
            class="org.polarsys.time4sys.analysis.tools.AnalysisPage"
            id="org.polarsys.time4sys.analysis.tools.page"
            imageOff="icons/AnalysisOff.png"
            imageOn="icons/AnalysisOn.png"
            index="2"
            title="Analysis Description"
            viewer="false">
         <Description>
            Description body text
         </Description>
         <Overview
               imageOff="icons/AnalysisOff.png"
               imageOn="icons/AnalysisOn.png">
            <Description>
               Description body text
            </Description>
         </Overview>
         <Section
               expanded="true"
               filtering="true"
               id="org.polarsys.time4sys.analysis.tools.section"
               index="1"
               name="Analysis ">
            <Description>
               Description body text
            </Description>
         </Section>
      </Page>
   </extension>
   <extension
         point="org.eclipse.amalgam.explorer.activity.ui.activitiesProvider">
      <Activity
            class="org.polarsys.time4sys.analysis.tools.ActivityExplorerActivityContribution"
            id="org.polarsys.time4sys.analysis.tools.Activity"
            image="icons/Transformation.jpg"
            index="0"
            name="test"
            sectionId="org.polarsys.time4sys.analysis.tools.section">
         <Description>
            Description body text
         </Description>
      </Activity>
   </extension>

</plugin>
