<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2016, 2017 Artal Technologies and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Aurelien Didier (Artal Technologies) - initial API and implementation
 -->

<plugin>
<extension 
	point="org.eclipse.amalgam.explorer.contextual.core.contentProviderCategory">
      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.AnalyzedSystem.Parent"
            isTopLevel="true"
            name="Parent">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.AnalyzedSystem">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.analyzedsystem.ParentQuery">
            </basicQuery>
         </categoryQuery>
      </category>
      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.AnalyzedSystem.OwnedViewpointElements"
            isTopLevel="true"
            name="Owned Viewpoint elements">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.AnalyzedSystem">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.analyzedsystem.OwnedViewpointElementQuery">
            </basicQuery>
         </categoryQuery>
      </category>	</extension>
<extension 
	point="org.eclipse.amalgam.explorer.contextual.core.contentProviderCategory">
      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.Communication.Parent"
            isTopLevel="true"
            name="Parent">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.Communication">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.communication.ParentQuery">
            </basicQuery>
         </categoryQuery>
      </category>      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.Communication.ReferencedViewpointElements"
            isTopLevel="true"
            name="Referenced viewpoint elements">
         <targetExplorerId
               id="ReferencedElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.Communication">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.communication.ReferencedViewpointElementQuery">
            </basicQuery>
         </categoryQuery>
      </category>	</extension>
<extension 
	point="org.eclipse.amalgam.explorer.contextual.core.contentProviderCategory">
      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.CommunicationResource.Parent"
            isTopLevel="true"
            name="Parent">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.CommunicationResource">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.communicationresource.ParentQuery">
            </basicQuery>
         </categoryQuery>
      </category>      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.CommunicationResource.ReferencedViewpointElements"
            isTopLevel="true"
            name="Referenced viewpoint elements">
         <targetExplorerId
               id="ReferencedElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.CommunicationResource">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.communicationresource.ReferencedViewpointElementQuery">
            </basicQuery>
         </categoryQuery>
      </category>      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.CommunicationResource.ReferencingViewpointElements"
            isTopLevel="true"
            name="Referencing Viewpoint Element">
         <targetExplorerId
               id="ReferencingElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.CommunicationResource">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.communicationresource.ReferencingViewpointElementQuery">
            </basicQuery>
         </categoryQuery>
      </category>	</extension>
<extension 
	point="org.eclipse.amalgam.explorer.contextual.core.contentProviderCategory">
      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.ComputingResource.Parent"
            isTopLevel="true"
            name="Parent">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.ComputingResource">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.computingresource.ParentQuery">
            </basicQuery>
         </categoryQuery>
      </category>      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.ComputingResource.ReferencedViewpointElements"
            isTopLevel="true"
            name="Referenced viewpoint elements">
         <targetExplorerId
               id="ReferencedElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.ComputingResource">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.computingresource.ReferencedViewpointElementQuery">
            </basicQuery>
         </categoryQuery>
      </category>	</extension>
<extension 
	point="org.eclipse.amalgam.explorer.contextual.core.contentProviderCategory">
      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.ConstraintContainer.Parent"
            isTopLevel="true"
            name="Parent">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.ConstraintContainer">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.constraintcontainer.ParentQuery">
            </basicQuery>
         </categoryQuery>
      </category>      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.ConstraintContainer.OwnedElements"
            isTopLevel="true"
            name="Owned elements">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.ConstraintContainer">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.constraintcontainer.OwnedExternalElementQuery">
            </basicQuery>
         </categoryQuery>
      </category>      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.ConstraintContainer.ReferencedViewpointElements"
            isTopLevel="true"
            name="Referenced viewpoint elements">
         <targetExplorerId
               id="ReferencedElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.ConstraintContainer">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.constraintcontainer.ReferencedViewpointElementQuery">
            </basicQuery>
         </categoryQuery>
      </category>	</extension>
<extension 
	point="org.eclipse.amalgam.explorer.contextual.core.contentProviderCategory">
      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.Delay.Parent"
            isTopLevel="true"
            name="Parent">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.Delay">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.delay.ParentQuery">
            </basicQuery>
         </categoryQuery>
      </category>      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.Delay.ReferencedViewpointElements"
            isTopLevel="true"
            name="Referenced viewpoint elements">
         <targetExplorerId
               id="ReferencedElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.Delay">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.delay.ReferencedViewpointElementQuery">
            </basicQuery>
         </categoryQuery>
      </category>	</extension>
<extension 
	point="org.eclipse.amalgam.explorer.contextual.core.contentProviderCategory">
      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.EventModel.Parent"
            isTopLevel="true"
            name="Parent">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.EventModel">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.eventmodel.ParentQuery">
            </basicQuery>
         </categoryQuery>
      </category>      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.EventModel.OwnedViewpointElements"
            isTopLevel="true"
            name="Owned Viewpoint elements">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.EventModel">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.eventmodel.OwnedViewpointElementQuery">
            </basicQuery>
         </categoryQuery>
      </category>      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.EventModel.ReferencedViewpointElements"
            isTopLevel="true"
            name="Referenced viewpoint elements">
         <targetExplorerId
               id="ReferencedElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.EventModel">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.eventmodel.ReferencedViewpointElementQuery">
            </basicQuery>
         </categoryQuery>
      </category>	</extension>
<extension 
	point="org.eclipse.amalgam.explorer.contextual.core.contentProviderCategory">
      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.Fragment.Parent"
            isTopLevel="true"
            name="Parent">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.Fragment">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.fragment.ParentQuery">
            </basicQuery>
         </categoryQuery>
      </category>      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.Fragment.ReferencedViewpointElements"
            isTopLevel="true"
            name="Referenced viewpoint elements">
         <targetExplorerId
               id="ReferencedElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.Fragment">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.fragment.ReferencedViewpointElementQuery">
            </basicQuery>
         </categoryQuery>
      </category>	</extension>
<extension 
	point="org.eclipse.amalgam.explorer.contextual.core.contentProviderCategory">
      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.InputPort.Parent"
            isTopLevel="true"
            name="Parent">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.InputPort">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.inputport.ParentQuery">
            </basicQuery>
         </categoryQuery>
      </category>      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.InputPort.ReferencedViewpointElements"
            isTopLevel="true"
            name="Referenced viewpoint elements">
         <targetExplorerId
               id="ReferencedElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.InputPort">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.inputport.ReferencedViewpointElementQuery">
            </basicQuery>
         </categoryQuery>
      </category>	</extension>
<extension 
	point="org.eclipse.amalgam.explorer.contextual.core.contentProviderCategory">
      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.InputStimulus.Parent"
            isTopLevel="true"
            name="Parent">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.InputStimulus">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.inputstimulus.ParentQuery">
            </basicQuery>
         </categoryQuery>
      </category>      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.InputStimulus.OwnedViewpointElements"
            isTopLevel="true"
            name="Owned Viewpoint elements">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.InputStimulus">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.inputstimulus.OwnedViewpointElementQuery">
            </basicQuery>
         </categoryQuery>
      </category>	</extension>
<extension 
	point="org.eclipse.amalgam.explorer.contextual.core.contentProviderCategory">
      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.MemoryResource.Parent"
            isTopLevel="true"
            name="Parent">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.MemoryResource">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.memoryresource.ParentQuery">
            </basicQuery>
         </categoryQuery>
      </category>	</extension>
<extension 
	point="org.eclipse.amalgam.explorer.contextual.core.contentProviderCategory">
      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.MutualExclusionResource.Parent"
            isTopLevel="true"
            name="Parent">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.MutualExclusionResource">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.mutualexclusionresource.ParentQuery">
            </basicQuery>
         </categoryQuery>
      </category>      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.MutualExclusionResource.OwnedViewpointElements"
            isTopLevel="true"
            name="Owned Viewpoint elements">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.MutualExclusionResource">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.mutualexclusionresource.OwnedViewpointElementQuery">
            </basicQuery>
         </categoryQuery>
      </category>      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.MutualExclusionResource.ReferencedViewpointElements"
            isTopLevel="true"
            name="Referenced viewpoint elements">
         <targetExplorerId
               id="ReferencedElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.MutualExclusionResource">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.mutualexclusionresource.ReferencedViewpointElementQuery">
            </basicQuery>
         </categoryQuery>
      </category>	</extension>
<extension 
	point="org.eclipse.amalgam.explorer.contextual.core.contentProviderCategory">
      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.Offset.Parent"
            isTopLevel="true"
            name="Parent">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.Offset">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.offset.ParentQuery">
            </basicQuery>
         </categoryQuery>
      </category>      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.Offset.ReferencedViewpointElements"
            isTopLevel="true"
            name="Referenced viewpoint elements">
         <targetExplorerId
               id="ReferencedElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.Offset">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.offset.ReferencedViewpointElementQuery">
            </basicQuery>
         </categoryQuery>
      </category>	</extension>
<extension 
	point="org.eclipse.amalgam.explorer.contextual.core.contentProviderCategory">
      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.OutputPort.Parent"
            isTopLevel="true"
            name="Parent">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.OutputPort">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.outputport.ParentQuery">
            </basicQuery>
         </categoryQuery>
      </category>      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.OutputPort.ReferencedViewpointElements"
            isTopLevel="true"
            name="Referenced viewpoint elements">
         <targetExplorerId
               id="ReferencedElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.OutputPort">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.outputport.ReferencedViewpointElementQuery">
            </basicQuery>
         </categoryQuery>
      </category>	</extension>
<extension 
	point="org.eclipse.amalgam.explorer.contextual.core.contentProviderCategory">
      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.OutputStimulus.Parent"
            isTopLevel="true"
            name="Parent">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.OutputStimulus">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.outputstimulus.ParentQuery">
            </basicQuery>
         </categoryQuery>
      </category>      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.OutputStimulus.OwnedViewpointElements"
            isTopLevel="true"
            name="Owned Viewpoint elements">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.OutputStimulus">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.outputstimulus.OwnedViewpointElementQuery">
            </basicQuery>
         </categoryQuery>
      </category>	</extension>
<extension 
	point="org.eclipse.amalgam.explorer.contextual.core.contentProviderCategory">
      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.ProtectionParameterValue.Parent"
            isTopLevel="true"
            name="Parent">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.ProtectionParameterValue">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.protectionparametervalue.ParentQuery">
            </basicQuery>
         </categoryQuery>
      </category>      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.ProtectionParameterValue.ReferencedViewpointElements"
            isTopLevel="true"
            name="Referenced viewpoint elements">
         <targetExplorerId
               id="ReferencedElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.ProtectionParameterValue">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.protectionparametervalue.ReferencedViewpointElementQuery">
            </basicQuery>
         </categoryQuery>
      </category>	</extension>
<extension 
	point="org.eclipse.amalgam.explorer.contextual.core.contentProviderCategory">
      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.ProtectionProtocol.Parent"
            isTopLevel="true"
            name="Parent">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.ProtectionProtocol">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.protectionprotocol.ParentQuery">
            </basicQuery>
         </categoryQuery>
      </category>      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.ProtectionProtocol.OwnedViewpointElements"
            isTopLevel="true"
            name="Owned Viewpoint elements">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.ProtectionProtocol">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.protectionprotocol.OwnedViewpointElementQuery">
            </basicQuery>
         </categoryQuery>
      </category>      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.ProtectionProtocol.ReferencedViewpointElements"
            isTopLevel="true"
            name="Referenced viewpoint elements">
         <targetExplorerId
               id="ReferencedElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.ProtectionProtocol">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.protectionprotocol.ReferencedViewpointElementQuery">
            </basicQuery>
         </categoryQuery>
      </category>	</extension>
<extension 
	point="org.eclipse.amalgam.explorer.contextual.core.contentProviderCategory">
      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.RequiredProtectionParameter.Parent"
            isTopLevel="true"
            name="Parent">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.RequiredProtectionParameter">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.requiredprotectionparameter.ParentQuery">
            </basicQuery>
         </categoryQuery>
      </category>      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.RequiredProtectionParameter.ReferencedViewpointElements"
            isTopLevel="true"
            name="Referenced viewpoint elements">
         <targetExplorerId
               id="ReferencedElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.RequiredProtectionParameter">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.requiredprotectionparameter.ReferencedViewpointElementQuery">
            </basicQuery>
         </categoryQuery>
      </category>	</extension>
<extension 
	point="org.eclipse.amalgam.explorer.contextual.core.contentProviderCategory">
      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.RequiredSchedulingParameter.Parent"
            isTopLevel="true"
            name="Parent">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.RequiredSchedulingParameter">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.requiredschedulingparameter.ParentQuery">
            </basicQuery>
         </categoryQuery>
      </category>      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.RequiredSchedulingParameter.ReferencedViewpointElements"
            isTopLevel="true"
            name="Referenced viewpoint elements">
         <targetExplorerId
               id="ReferencedElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.RequiredSchedulingParameter">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.requiredschedulingparameter.ReferencedViewpointElementQuery">
            </basicQuery>
         </categoryQuery>
      </category>	</extension>
<extension 
	point="org.eclipse.amalgam.explorer.contextual.core.contentProviderCategory">
      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.ResourceSchedulingParameterValue.Parent"
            isTopLevel="true"
            name="Parent">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.ResourceSchedulingParameterValue">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.resourceschedulingparametervalue.ParentQuery">
            </basicQuery>
         </categoryQuery>
      </category>	</extension>
<extension 
	point="org.eclipse.amalgam.explorer.contextual.core.contentProviderCategory">
      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.ResultContainer.Parent"
            isTopLevel="true"
            name="Parent">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.ResultContainer">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.resultcontainer.ParentQuery">
            </basicQuery>
         </categoryQuery>
      </category>      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.ResultContainer.ReferencedViewpointElements"
            isTopLevel="true"
            name="Referenced viewpoint elements">
         <targetExplorerId
               id="ReferencedElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.ResultContainer">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.resultcontainer.ReferencedViewpointElementQuery">
            </basicQuery>
         </categoryQuery>
      </category>	</extension>
<extension 
	point="org.eclipse.amalgam.explorer.contextual.core.contentProviderCategory">
      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.SchedulerParameterValue.Parent"
            isTopLevel="true"
            name="Parent">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.SchedulerParameterValue">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.schedulerparametervalue.ParentQuery">
            </basicQuery>
         </categoryQuery>
      </category>      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.SchedulerParameterValue.ReferencedViewpointElements"
            isTopLevel="true"
            name="Referenced viewpoint elements">
         <targetExplorerId
               id="ReferencedElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.SchedulerParameterValue">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.schedulerparametervalue.ReferencedViewpointElementQuery">
            </basicQuery>
         </categoryQuery>
      </category>	</extension>
<extension 
	point="org.eclipse.amalgam.explorer.contextual.core.contentProviderCategory">
      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.Scheduler.Parent"
            isTopLevel="true"
            name="Parent">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.Scheduler">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.scheduler.ParentQuery">
            </basicQuery>
         </categoryQuery>
      </category>      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.Scheduler.OwnedViewpointElements"
            isTopLevel="true"
            name="Owned Viewpoint elements">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.Scheduler">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.scheduler.OwnedViewpointElementQuery">
            </basicQuery>
         </categoryQuery>
      </category>      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.Scheduler.ReferencedViewpointElements"
            isTopLevel="true"
            name="Referenced viewpoint elements">
         <targetExplorerId
               id="ReferencedElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.Scheduler">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.scheduler.ReferencedViewpointElementQuery">
            </basicQuery>
         </categoryQuery>
      </category>	</extension>
<extension 
	point="org.eclipse.amalgam.explorer.contextual.core.contentProviderCategory">
      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.Task.Parent"
            isTopLevel="true"
            name="Parent">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.Task">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.task.ParentQuery">
            </basicQuery>
         </categoryQuery>
      </category>      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.Task.OwnedViewpointElements"
            isTopLevel="true"
            name="Owned Viewpoint elements">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.Task">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.task.OwnedViewpointElementQuery">
            </basicQuery>
         </categoryQuery>
      </category>      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.Task.ReferencedViewpointElements"
            isTopLevel="true"
            name="Referenced viewpoint elements">
         <targetExplorerId
               id="ReferencedElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.Task">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.task.ReferencedViewpointElementQuery">
            </basicQuery>
         </categoryQuery>
      </category>	</extension>
<extension 
	point="org.eclipse.amalgam.explorer.contextual.core.contentProviderCategory">
      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.ResourceProtectionParameterValue.Parent"
            isTopLevel="true"
            name="Parent">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.ResourceProtectionParameterValue">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.resourceprotectionparametervalue.ParentQuery">
            </basicQuery>
         </categoryQuery>
      </category>	</extension>
<extension 
	point="org.eclipse.amalgam.explorer.contextual.core.contentProviderCategory">
      <category
            id="org.polarsys.time4sys.analysis.contextual.explorer.queries.TwcaEventModel.Parent"
            isTopLevel="true"
            name="Parent">
         <targetExplorerId
               id="CurrentElementExplorer">
         </targetExplorerId>
         <availableForType
               class="org.polarsys.time4sys.analysis.TwcaEventModel">
         </availableForType>
         <categoryQuery>
            <basicQuery
                  class="org.polarsys.time4sys.analysis.contextual.explorer.queries.twcaeventmodel.ParentQuery">
            </basicQuery>
         </categoryQuery>
      </category>	</extension>
</plugin>