<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
    Copyright (c) 2017 RealTime-at-Work and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v2.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v20.html
   
    Contributors:
        Loïc Fejoz - initial API and implementation
 -->
 
<plugin>
   <extension point="org.eclipse.ui.newWizards">
      <category id="org.polarsys.time4sys.examples.category"
            name="Time4sys Examples"
            parentCategory="org.eclipse.ui.Examples"/>
      <wizard
            category="org.eclipse.ui.Examples/org.polarsys.time4sys.examples.category"
            class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
            icon="icons/NewTime4SysModel.gif"
            id="org.polarsys.time4sys.examples.ChallengeAnalysis"
            name="%ChallengeAnalysis_name"
            project="true">
         <description>
            %ChallengeAnalysis_description
         </description>
      </wizard>      
   </extension>
	<extension point="org.eclipse.emf.common.ui.examples">
    <example
          id="org.polarsys.time4sys.examples.ChallengeAnalysis"
          pageImage="icons/NewTime4SysModel.gif"
          wizardID="org.polarsys.time4sys.examples.ChallengeAnalysis">
       <projectDescriptor
             contentURI="zips/ChallengeAnalysis.zip"
             description="%ChallengeAnalysis_description"
             name="org.polarsys.time4sys.examples.ChallengeAnalysis">
       </projectDescriptor>
    </example>
</extension>
</plugin>
