<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
    Copyright (c) 2017 RealTime-at-Work and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Loïc Fejoz - initial API and implementation
 -->

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated library -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.polarsys.time4sys.library.presentation.LibraryModelWizardID"
            name="%_UI_LibraryModelWizard_label"
            class="org.polarsys.time4sys.library.presentation.LibraryModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/LibraryModelFile.gif">
         <description>%_UI_LibraryModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated library -->
      <editor
            id="org.polarsys.time4sys.library.presentation.LibraryEditorID"
            name="%_UI_LibraryEditor_label"
            icon="icons/full/obj16/LibraryModelFile.gif"
            extensions="library"
            class="org.polarsys.time4sys.library.presentation.LibraryEditor"
            contributorClass="org.polarsys.time4sys.library.presentation.LibraryActionBarContributor">
      </editor>
   </extension>

</plugin>
