<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
    Copyright (c) 2017 RealTime-at-Work and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v2.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v20.html
   
    Contributors:
        Loïc Fejoz - initial API and implementation
 -->

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated trace -->
      <package
            uri="http://www.polarsys.org/time4sys/trace/1.0"
            class="org.polarsys.time4sys.trace.TracePackage"
            genModel="model/trace.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated trace -->
      <parser
            type="trace"
            class="org.polarsys.time4sys.trace.util.TraceResourceFactoryImpl"/>
   </extension>

</plugin>
