<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2016, 2018 Artal Technologies, RealTime-at-Work, and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v2.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v20.html
   
    Contributors:
        Aurelien Didier (Artal Technologies) - initial API and implementation
        Loïc Fejoz - initial simple report generation
 -->

<plugin>

<extension point="org.eclipse.amalgam.explorer.activity.ui.pagesProvider">
	<Page
       class="org.polarsys.time4sys.activity.explorer.pages.DesignPage"
       id="org.polarsys.time4sys.design.page"
       imageOff="icons/DesignOff.png"
       imageOn="icons/DesignOn.png"
       index="1"
       tabName="Design"
       title="Design Description"
       viewer="true">
			<Description>
				Define the Hardware resources and the Software resources allocated on them.  Represent the execution and communication steps which are executed by a software resource or in a communication resources, and represent the link between them in one or several scenarios.
			</Description>

		<Overview
        imageOff="icons/DesignOff.png"
        imageOn="icons/DesignOn.png">
			<Description>
				&lt;p&gt;&lt;b&gt;Design&lt;/b&gt;&lt;/p&gt;
&lt;p&gt;Define the Hardware resources and the Software resources allocated on them. &lt;br/&gt;Represent the execution and communication steps which are executed by a software resource or in a communication resources. &lt;br/&gt;Describes the precedence relation between steps and external triggers in one or several scenarios.&lt;/p&gt;
			</Description>
		</Overview>

		<Section
			   expanded="false"
			   filtering="true"
			   id="org.polarsys.time4sys.design.section"	   
			   index="1"
			   name="Design">
			<Description>
				&lt;p&gt;&lt;b&gt;Design&lt;/b&gt;&lt;/p&gt;
&lt;p&gt;Define the Hardware resources and the Software resources allocated on them. &lt;br/&gt;Represent the execution and communication steps which are executed by a software resource or in a communication resources. &lt;br/&gt;Describes the link between them in one or several scenarios.&lt;/p&gt;
			</Description>
			<Activity
         class="org.polarsys.time4sys.activity.explorer.activity.DesignActivity"
         id="org.polarsys.time4sys.design.design.diagram"
         image="icons/DesignModel.png"
         index="1"
         name="Design Model">
			<Description>
				Design Model
Define the Hardware resources and the Software resources allocated on them.
Represent the execution and communication steps which are executed by a software resource or in a communication resources.
Describes the link between them in one or several scenarios.
			</Description>
			</Activity>
   <Activity
         class="org.polarsys.time4sys.activity.explorer.activity.EndToEndFlowActivity"
         id="org.polarsys.time4sys.design.etef.diagram"
         image="icons/EndToEndFlowDiagram.png"
         index="2"
         name="End To End Flow diagram">
      <Description>
         Behavior Scenario diagram
Describe the sequence of steps of one the selected scenario and represents steps with a breakdown hierarchy.
      </Description>
   </Activity>
   <Activity
         class="org.polarsys.time4sys.activity.explorer.activity.BehaviorScenarioActivity"
         id="org.polarsys.time4sys.design.behavior.scenario..diagram"
         image="icons/BehaviorScenario.png"
         index="3"
         name="Behavior Scenario allocation">
      <Description>
         Behavior Scenario diagram
Describe the sequence of steps of one the selected scenario and represents steps with a breakdown hierarchy.
      </Description>
   </Activity>
		</Section>
  <Section
        expanded="false"
        filtering="true"
        id="org.polarsys.time4sys.simu.section"
        index="2"
        name="Simulation">
     <Description>
		Transform your design model into an Analysis model ready to be analysed or simulated by simulation tools.
     </Description>
     <Activity
           class="org.polarsys.time4sys.activity.explorer.activity.CheckProjectWithAnalysisRepository"
           id="org.polarsys.time4sys.activity.explorer.design.SimpleReport"
           image="icons/Transformation.jpg"
           index="1"
           name="Analyse model and propose available tools">
        <Description>
           Transform your design model into Liu and Layland model and Generate a simple report.
        </Description>
     </Activity>
     <Activity
           class="org.polarsys.time4sys.activity.explorer.activity.DesignSimpleReport"
           id="org.polarsys.time4sys.activity.explorer.design.SimpleReport"
           image="icons/Transformation.jpg"
           index="5"
           name="Generate a simple report based on Liu and Layland model">
        <Description>
           Transform your design model into Liu and Layland model and Generate a simple report.
        </Description>
     </Activity>
  </Section>
  <Predicate
        class="org.polarsys.time4sys.activity.explorer.predicate.Time4SysActivityExplorerPredicate">
  </Predicate>
	</Page>
 <Page
       class="org.polarsys.time4sys.activity.explorer.pages.AnalysisPage"
       id="org.polarsys.time4sys.activity.page"
       imageOff="icons/AnalysisOff.png"
       imageOn="icons/AnalysisOn.png"
       index="1"
       tabName="Analysis"
       title="Analysis Description"
       viewer="true">
    <Description>
       Define the Hardware resources and the Software resources allocated on them.  Represent the execution and communication steps which are executed by a software resource or in a communication resources, and represent the link between them in one or several scenarios.
    </Description>
    <Overview
          imageOff="icons/AnalysisOff.png"
          imageOn="icons/AnalysisOn.png">
       <Description>
          &lt;p&gt;&lt;b&gt;Analysis&lt;/b&gt;&lt;/p&gt;
&lt;p&gt;Visualize the result of previous transformation in new diagrams.&lt;/p&gt;
       </Description>
    </Overview>
    <Section
          expanded="false"
          filtering="true"
          id="org.polarsys.time4sys.analysis.section"
          index="1"
          name="Analysis">
       <Description>
          &lt;p&gt;&lt;b&gt;Analysis&lt;/b&gt;&lt;/p&gt;
&lt;p&gt;Visualize the result of previous transformation in new diagrams.&lt;/p&gt;
       </Description>
       <Activity
             class="org.polarsys.time4sys.activity.explorer.activity.AnalysisActivity"
             id="org.polarsys.time4sys.design.activity.diagram"
             image="icons/DesignModel.png"
             index="1"
             name="Transformed Design Model">
          <Description>
             Design Model
Define the Hardware resources and the Software resources allocated on them.
Represent the execution and communication steps which are executed by a software resource or in a communication resources.
Describes the link between them in one or several scenarios.
          </Description>
       </Activity>
    </Section>
    <Predicate
          class="org.polarsys.time4sys.activity.explorer.predicate.Time4SysActivityExplorerPredicate">
    </Predicate>
 </Page>
</extension>
</plugin>
