<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.acceleo.ide.ui.launching.launchConfigurationType">
<stringAttribute key="org.eclipse.acceleo.ide.ui.ARGUMENTS" value=""/>
<booleanAttribute key="org.eclipse.acceleo.ide.ui.COMPUTE_PROFILING" value="false"/>
<booleanAttribute key="org.eclipse.acceleo.ide.ui.COMPUTE_TRACEABILITY" value="false"/>
<stringAttribute key="org.eclipse.acceleo.ide.ui.LAUNCHING_STRATEGY_DESCRIPTION" value="Java Application"/>
<stringAttribute key="org.eclipse.acceleo.ide.ui.MODEL_PATH" value="/org.polarsys.time4sys.marte/model/marte.ecore"/>
<stringAttribute key="org.eclipse.acceleo.ide.ui.TARGET_PATH" value="/org.polarsys.time4sys.marte/docs"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/org.polarsys.time4sys.asciidocgen/src/org/polarsys/time4sys/mdgen/main/Generate.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.polarsys.time4sys.mdgen.main.Generate"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="&quot;/home/loic/projets/waruna/trunk/Eclipse/plugins/org.polarsys.time4sys.marte/model/marte.ecore&quot; &quot;/home/loic/projets/waruna/trunk/Eclipse/plugins/org.polarsys.time4sys.marte/docs&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.polarsys.time4sys.asciidocgen"/>
</launchConfiguration>
