<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated schedulingtrace -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.polarsys.time4sys.schedulingtrace.presentation.SchedulingtraceModelWizardID"
            name="%_UI_SchedulingtraceModelWizard_label"
            class="org.polarsys.time4sys.schedulingtrace.presentation.SchedulingtraceModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SchedulingtraceModelFile.gif">
         <description>%_UI_SchedulingtraceModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated schedulingtrace -->
      <editor
            id="org.polarsys.time4sys.schedulingtrace.presentation.SchedulingtraceEditorID"
            name="%_UI_SchedulingtraceEditor_label"
            icon="icons/full/obj16/SchedulingtraceModelFile.gif"
            extensions="schedulingtrace"
            class="org.polarsys.time4sys.schedulingtrace.presentation.SchedulingtraceEditor"
            contributorClass="org.polarsys.time4sys.schedulingtrace.presentation.SchedulingtraceActionBarContributor">
      </editor>
   </extension>

</plugin>
