<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
    Copyright (c) 2017 RealTime-at-Work and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v2.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v20.html
   
    Contributors:
        Loïc Fejoz - initial API and implementation
 -->

<!--
-->

<plugin>


   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated srm -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.polarsys.time4sys.marte.srm.presentation.SrmModelWizardID"
            name="%_UI_SrmModelWizard_label"
            class="org.polarsys.time4sys.marte.srm.presentation.SrmModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SrmModelFile.gif">
         <description>%_UI_SrmModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated srm -->
      <editor
            id="org.polarsys.time4sys.marte.srm.presentation.SrmEditorID"
            name="%_UI_SrmEditor_label"
            icon="icons/full/obj16/SrmModelFile.gif"
            extensions="srm"
            class="org.polarsys.time4sys.marte.srm.presentation.SrmEditor"
            contributorClass="org.polarsys.time4sys.marte.srm.presentation.SrmActionBarContributor">
      </editor>
   </extension>

</plugin>
